.RockTabulatorWrapper { position: relative; }
.RockTabulatorWrapper .pagination { font-size: 12px; }
.RockTabulatorWrapper .pagination button,
.RockTabulatorWrapper .pagination select {
  border: 1px solid #afafaf;
  border-radius: 3px;
  background: transparent;
}
.RockTabulatorWrapper .pagination select { margin-right: 8px; margin-left: 4px; }

/* background colors, taken from tailwindcss */
.tabulator-row.bg-transparent, .bg-transparent {	background-color: transparent; }
.tabulator-row.bg-black, .bg-black {	background-color: #000; }
.tabulator-row.bg-white, .bg-white {	background-color: #fff; }
.tabulator-row.bg-gray-100, .bg-gray-100 {	background-color: #f7fafc; }
.tabulator-row.bg-gray-200, .bg-gray-200 {	background-color: #edf2f7; }
.tabulator-row.bg-gray-300, .bg-gray-300 {	background-color: #e2e8f0; }
.tabulator-row.bg-gray-400, .bg-gray-400 {	background-color: #cbd5e0; }
.tabulator-row.bg-gray-500, .bg-gray-500 {	background-color: #a0aec0; }
.tabulator-row.bg-gray-600, .bg-gray-600 {	background-color: #718096; }
.tabulator-row.bg-gray-700, .bg-gray-700 {	background-color: #4a5568; }
.tabulator-row.bg-gray-800, .bg-gray-800 {	background-color: #2d3748; }
.tabulator-row.bg-gray-900, .bg-gray-900 {	background-color: #1a202c; }
.tabulator-row.bg-red-100, .bg-red-100 {	background-color: #fff5f5; }
.tabulator-row.bg-red-200, .bg-red-200 {	background-color: #fed7d7; }
.tabulator-row.bg-red-300, .bg-red-300 {	background-color: #feb2b2; }
.tabulator-row.bg-red-400, .bg-red-400 {	background-color: #fc8181; }
.tabulator-row.bg-red-500, .bg-red-500 {	background-color: #f56565; }
.tabulator-row.bg-red-600, .bg-red-600 {	background-color: #e53e3e; }
.tabulator-row.bg-red-700, .bg-red-700 {	background-color: #c53030; }
.tabulator-row.bg-red-800, .bg-red-800 {	background-color: #9b2c2c; }
.tabulator-row.bg-red-900, .bg-red-900 {	background-color: #742a2a; }
.tabulator-row.bg-orange-100, .bg-orange-100 {	background-color: #fffaf0; }
.tabulator-row.bg-orange-200, .bg-orange-200 {	background-color: #feebc8; }
.tabulator-row.bg-orange-300, .bg-orange-300 {	background-color: #fbd38d; }
.tabulator-row.bg-orange-400, .bg-orange-400 {	background-color: #f6ad55; }
.tabulator-row.bg-orange-500, .bg-orange-500 {	background-color: #ed8936; }
.tabulator-row.bg-orange-600, .bg-orange-600 {	background-color: #dd6b20; }
.tabulator-row.bg-orange-700, .bg-orange-700 {	background-color: #c05621; }
.tabulator-row.bg-orange-800, .bg-orange-800 {	background-color: #9c4221; }
.tabulator-row.bg-orange-900, .bg-orange-900 {	background-color: #7b341e; }
.tabulator-row.bg-yellow-100, .bg-yellow-100 {	background-color: #fffff0; }
.tabulator-row.bg-yellow-200, .bg-yellow-200 {	background-color: #fefcbf; }
.tabulator-row.bg-yellow-300, .bg-yellow-300 {	background-color: #faf089; }
.tabulator-row.bg-yellow-400, .bg-yellow-400 {	background-color: #f6e05e; }
.tabulator-row.bg-yellow-500, .bg-yellow-500 {	background-color: #ecc94b; }
.tabulator-row.bg-yellow-600, .bg-yellow-600 {	background-color: #d69e2e; }
.tabulator-row.bg-yellow-700, .bg-yellow-700 {	background-color: #b7791f; }
.tabulator-row.bg-yellow-800, .bg-yellow-800 {	background-color: #975a16; }
.tabulator-row.bg-yellow-900, .bg-yellow-900 {	background-color: #744210; }
.tabulator-row.bg-green-100, .bg-green-100 {	background-color: #f0fff4; }
.tabulator-row.bg-green-200, .bg-green-200 {	background-color: #c6f6d5; }
.tabulator-row.bg-green-300, .bg-green-300 {	background-color: #9ae6b4; }
.tabulator-row.bg-green-400, .bg-green-400 {	background-color: #68d391; }
.tabulator-row.bg-green-500, .bg-green-500 {	background-color: #48bb78; }
.tabulator-row.bg-green-600, .bg-green-600 {	background-color: #38a169; }
.tabulator-row.bg-green-700, .bg-green-700 {	background-color: #2f855a; }
.tabulator-row.bg-green-800, .bg-green-800 {	background-color: #276749; }
.tabulator-row.bg-green-900, .bg-green-900 {	background-color: #22543d; }
.tabulator-row.bg-teal-100, .bg-teal-100 {	background-color: #e6fffa; }
.tabulator-row.bg-teal-200, .bg-teal-200 {	background-color: #b2f5ea; }
.tabulator-row.bg-teal-300, .bg-teal-300 {	background-color: #81e6d9; }
.tabulator-row.bg-teal-400, .bg-teal-400 {	background-color: #4fd1c5; }
.tabulator-row.bg-teal-500, .bg-teal-500 {	background-color: #38b2ac; }
.tabulator-row.bg-teal-600, .bg-teal-600 {	background-color: #319795; }
.tabulator-row.bg-teal-700, .bg-teal-700 {	background-color: #2c7a7b; }
.tabulator-row.bg-teal-800, .bg-teal-800 {	background-color: #285e61; }
.tabulator-row.bg-teal-900, .bg-teal-900 {	background-color: #234e52; }
.tabulator-row.bg-blue-100, .bg-blue-100 {	background-color: #ebf8ff; }
.tabulator-row.bg-blue-200, .bg-blue-200 {	background-color: #bee3f8; }
.tabulator-row.bg-blue-300, .bg-blue-300 {	background-color: #90cdf4; }
.tabulator-row.bg-blue-400, .bg-blue-400 {	background-color: #63b3ed; }
.tabulator-row.bg-blue-500, .bg-blue-500 {	background-color: #4299e1; }
.tabulator-row.bg-blue-600, .bg-blue-600 {	background-color: #3182ce; }
.tabulator-row.bg-blue-700, .bg-blue-700 {	background-color: #2b6cb0; }
.tabulator-row.bg-blue-800, .bg-blue-800 {	background-color: #2c5282; }
.tabulator-row.bg-blue-900, .bg-blue-900 {	background-color: #2a4365; }
.tabulator-row.bg-indigo-100, .bg-indigo-100 {	background-color: #ebf4ff; }
.tabulator-row.bg-indigo-200, .bg-indigo-200 {	background-color: #c3dafe; }
.tabulator-row.bg-indigo-300, .bg-indigo-300 {	background-color: #a3bffa; }
.tabulator-row.bg-indigo-400, .bg-indigo-400 {	background-color: #7f9cf5; }
.tabulator-row.bg-indigo-500, .bg-indigo-500 {	background-color: #667eea; }
.tabulator-row.bg-indigo-600, .bg-indigo-600 {	background-color: #5a67d8; }
.tabulator-row.bg-indigo-700, .bg-indigo-700 {	background-color: #4c51bf; }
.tabulator-row.bg-indigo-800, .bg-indigo-800 {	background-color: #434190; }
.tabulator-row.bg-indigo-900, .bg-indigo-900 {	background-color: #3c366b; }
.tabulator-row.bg-purple-100, .bg-purple-100 {	background-color: #faf5ff; }
.tabulator-row.bg-purple-200, .bg-purple-200 {	background-color: #e9d8fd; }
.tabulator-row.bg-purple-300, .bg-purple-300 {	background-color: #d6bcfa; }
.tabulator-row.bg-purple-400, .bg-purple-400 {	background-color: #b794f4; }
.tabulator-row.bg-purple-500, .bg-purple-500 {	background-color: #9f7aea; }
.tabulator-row.bg-purple-600, .bg-purple-600 {	background-color: #805ad5; }
.tabulator-row.bg-purple-700, .bg-purple-700 {	background-color: #6b46c1; }
.tabulator-row.bg-purple-800, .bg-purple-800 {	background-color: #553c9a; }
.tabulator-row.bg-purple-900, .bg-purple-900 {	background-color: #44337a; }
.tabulator-row.bg-pink-100, .bg-pink-100 {	background-color: #fff5f7; }
.tabulator-row.bg-pink-200, .bg-pink-200 {	background-color: #fed7e2; }
.tabulator-row.bg-pink-300, .bg-pink-300 {	background-color: #fbb6ce; }
.tabulator-row.bg-pink-400, .bg-pink-400 {	background-color: #f687b3; }
.tabulator-row.bg-pink-500, .bg-pink-500 {	background-color: #ed64a6; }
.tabulator-row.bg-pink-600, .bg-pink-600 {	background-color: #d53f8c; }
.tabulator-row.bg-pink-700, .bg-pink-700 {	background-color: #b83280; }
.tabulator-row.bg-pink-800, .bg-pink-800 {	background-color: #97266d; }
.tabulator-row.bg-pink-900, .bg-pink-900 {	background-color: #702459; }

.text-transparent { color: transparent; }
.text-black { color: #000; }
.text-white { color: #fff; }
.text-gray-100 { color: #f7fafc; }
.text-gray-200 { color: #edf2f7; }
.text-gray-300 { color: #e2e8f0; }
.text-gray-400 { color: #cbd5e0; }
.text-gray-500 { color: #a0aec0; }
.text-gray-600 { color: #718096; }
.text-gray-700 { color: #4a5568; }
.text-gray-800 { color: #2d3748; }
.text-gray-900 { color: #1a202c; }
.text-red-100 { color: #fff5f5; }
.text-red-200 { color: #fed7d7; }
.text-red-300 { color: #feb2b2; }
.text-red-400 { color: #fc8181; }
.text-red-500 { color: #f56565; }
.text-red-600 { color: #e53e3e; }
.text-red-700 { color: #c53030; }
.text-red-800 { color: #9b2c2c; }
.text-red-900 { color: #742a2a; }
.text-orange-100 { color: #fffaf0; }
.text-orange-200 { color: #feebc8; }
.text-orange-300 { color: #fbd38d; }
.text-orange-400 { color: #f6ad55; }
.text-orange-500 { color: #ed8936; }
.text-orange-600 { color: #dd6b20; }
.text-orange-700 { color: #c05621; }
.text-orange-800 { color: #9c4221; }
.text-orange-900 { color: #7b341e; }
.text-yellow-100 { color: #fffff0; }
.text-yellow-200 { color: #fefcbf; }
.text-yellow-300 { color: #faf089; }
.text-yellow-400 { color: #f6e05e; }
.text-yellow-500 { color: #ecc94b; }
.text-yellow-600 { color: #d69e2e; }
.text-yellow-700 { color: #b7791f; }
.text-yellow-800 { color: #975a16; }
.text-yellow-900 { color: #744210; }
.text-green-100 { color: #f0fff4; }
.text-green-200 { color: #c6f6d5; }
.text-green-300 { color: #9ae6b4; }
.text-green-400 { color: #68d391; }
.text-green-500 { color: #48bb78; }
.text-green-600 { color: #38a169; }
.text-green-700 { color: #2f855a; }
.text-green-800 { color: #276749; }
.text-green-900 { color: #22543d; }
.text-teal-100 { color: #e6fffa; }
.text-teal-200 { color: #b2f5ea; }
.text-teal-300 { color: #81e6d9; }
.text-teal-400 { color: #4fd1c5; }
.text-teal-500 { color: #38b2ac; }
.text-teal-600 { color: #319795; }
.text-teal-700 { color: #2c7a7b; }
.text-teal-800 { color: #285e61; }
.text-teal-900 { color: #234e52; }
.text-blue-100 { color: #ebf8ff; }
.text-blue-200 { color: #bee3f8; }
.text-blue-300 { color: #90cdf4; }
.text-blue-400 { color: #63b3ed; }
.text-blue-500 { color: #4299e1; }
.text-blue-600 { color: #3182ce; }
.text-blue-700 { color: #2b6cb0; }
.text-blue-800 { color: #2c5282; }
.text-blue-900 { color: #2a4365; }
.text-indigo-100 { color: #ebf4ff; }
.text-indigo-200 { color: #c3dafe; }
.text-indigo-300 { color: #a3bffa; }
.text-indigo-400 { color: #7f9cf5; }
.text-indigo-500 { color: #667eea; }
.text-indigo-600 { color: #5a67d8; }
.text-indigo-700 { color: #4c51bf; }
.text-indigo-800 { color: #434190; }
.text-indigo-900 { color: #3c366b; }
.text-purple-100 { color: #faf5ff; }
.text-purple-200 { color: #e9d8fd; }
.text-purple-300 { color: #d6bcfa; }
.text-purple-400 { color: #b794f4; }
.text-purple-500 { color: #9f7aea; }
.text-purple-600 { color: #805ad5; }
.text-purple-700 { color: #6b46c1; }
.text-purple-800 { color: #553c9a; }
.text-purple-900 { color: #44337a; }
.text-pink-100 { color: #fff5f7; }
.text-pink-200 { color: #fed7e2; }
.text-pink-300 { color: #fbb6ce; }
.text-pink-400 { color: #f687b3; }
.text-pink-500 { color: #ed64a6; }
.text-pink-600 { color: #d53f8c; }
.text-pink-700 { color: #b83280; }
.text-pink-800 { color: #97266d; }
.text-pink-900 { color: #702459; }
