.rt-rowaction a {
  font-size: 11px;
  margin: 0 2px;
  padding: 2px 5px;
  border-radius: 3px;
  color: white; /* todo: do not hardcode color! */
  text-decoration: none;
}
.rt-rowaction span.label {
  margin-left: 3px;
}

/* actions that are only shown when hovering the cell */
.tabulator-cell a.show-on-hover {
  position:absolute;
  opacity: 0;
}
.tabulator-cell:hover a.show-on-hover { 
  position: static;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}
